<ion-view ng-controller="NewFeedController as vm">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>LET'S WRITE THE FUTURE</ion-nav-title>
    <ion-nav-buttons side="right">
      <i class="icon-login light" ng-click="$root.signOut()" style="font-size: 30px"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="bar bar-subheader">
    <button class='button' ng-class="vm.active('feeds')" ng-click="vm.changeTabs('feeds')">Sự kiện</button>
    <button class='button' ng-class="vm.active('votes')" ng-click="vm.changeTabs('votes')">Bình chọn</button>
  </div>
  <ion-content padding="true" class="new-feed has-header has-subheader">
    <ng-feeds ng-if="vm.type == 'feeds'"></ng-feeds>
    <ng-votes ng-if="vm.type != 'feeds'"></ng-votes>
  </ion-content>
  <!-- <ion-floating-menu menu-color="#ea2227" menu-open-color="#ea2227" ng-if="vm.type != 'feeds'">
    <ion-floating-item icon="ion-edit" button-color="white" icon-color="black" click="vm.addVote()" text="Thêm tiết mục"></ion-floating-item>
    <ion-floating-item icon="ion-navicon-round" button-color="white" icon-color="black" text="Tiết mục của bạn" click="vm.listVote()"></ion-floating-item>
  </ion-floating-menu> -->
</ion-view>