<ion-view  ng-controller="ListVoteController as vm" cache-view="false" class="home-view">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>TIẾT MỤC CỦA BẠN</ion-nav-title>
    <ion-nav-buttons side="right">
      <i class="icon-login light" ng-click="$root.signOut()" style="font-size: 30px"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding home-page has-header" scroll="false" ng-if="vm.loadDone">
    <ion-list ng-if="vm.listVote">
      <ion-item ng-repeat="vote in vm.listVote">
        <p>{{vote.title}}</p>
        <button class="button button-small button-positive" ng-click="vm.delete(vote, $index)">Xóa</button>
        <button class="button button-small button-positive" ui-sref="update-vote({id: vote.id})">Sửa</button>
      </ion-item>
    </ion-list>
    <p class="alert" ng-if="!vm.listVote">Bạn đang không có bài đăng nào</p>
  </ion-content>
</ion-view>