<ion-view  ng-controller="HomeController as vm" cache-view="false" class="home-view">
  <ion-nav-bar align-title="center" >
    <ion-nav-buttons side="right">
      <i class="icon-login red" ng-click="$root.signOut()" style="font-size: 30px"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!--add class screen-first when clock coundownt and screen-last when count finished-->
  <ion-content class="padding home-page" scroll="false" ng-class="vm.countDownStatus">
    <div class="logo-container center" style="visibility: hidden">
      <img src="img/logo.png" class="logo">
    </div>
    <div class="row">
      <div class="col-25 pd-horizontal-3" ng-repeat="count in vm.countDownTime">
        <div class="time center">
          <p class="time_number">{{count.time}}</p>
          <p class="time_title">{{count.title}}</p>
        </div>
      </div>
    </div>
    <div class="action">
      <div class="action-item" ui-sref="new-feed({type: 'feeds'})">
        <button class="button-circle">
          <i class="icon icon-diamond"></i>
        </button>
        <p>Sự kiện</p>
      </div>
      <div class="action-item" ui-sref="new-feed({type: 'votes'})">
        <button class="button-circle">
          <i class="icon icon-badge"></i>
        </button>
        <p>Bình chọn</p>
      </div>
    </div>
  </ion-content>
</ion-view>