<ion-view  ng-controller="AddVoteController as vm" cache-view="false" class="home-view">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>THÊM TIẾT MỤC</ion-nav-title>
    <ion-nav-buttons side="right">
      <i class="icon-login light" ng-click="$root.signOut()" style="font-size: 30px"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding add-vote-page">
    <form class="list" name="formAddVote">
      <label class="item-input">
        <input type="text" name="title" ng-model="vm.vote.title" placeholder="Tiêu đề" required>
      </label>
      <p class="error-validate" ng-show="formAddVote.title.$dirty && formAddVote.title.$invalid">
        <span ng-show="formAddVote.title.$error.required">{{TITLE_REQUIRED}}</span>
      </p>
      <label class="item-img">
        <button class="button button-small button-positive" ng-click="vm.getImage()">Chọn ảnh</button>
        <img src="img/feed-1.jpg"/>
      </label>
      <label class="item-input">
        <textarea name="content" ng-model="vm.vote.content" placeholder="Nội dung" rows="6" required></textarea>
      </label>
      <p class="error-validate" ng-show="formAddVote.content.$dirty && formAddVote.content.$invalid">
        <span ng-show="formAddVote.content.$error.required">{{CONTENT_REQUIRED}}</span>
      </p>
      <button class="button button-small button-positive" ng-click="vm.send()" ng-disabled="formAddVote.$invalid">
        Thêm
      </button>
    </form>
  </ion-content>
</ion-view>