// ------------------------------------Color-------------------------------------------------------------
$orange: #fed014;
$energized: #fed014;
$gray: #ADADAD;
$green: #34d27b;
$purple: #9694d7;
$red: #EA2227;
$danger: #e74c3c;
$warning: #f39c12;
$off-duty: #007aff;
$blue: #007aff;
$on-duty: #f39c12;
$sleeper: #9694d7;
$driving: #34d27b;


// text
$text-small: 11px;
$font-14: 14px;
$font-13: 13px;