<div class="new-feed_list">
	<div class="new-feed_item" ng-repeat="post in posts" ng-click="goDetail(post)">
	  	<p class="item_date">{{getDate(post.time)}}</p>
	 	<p class="item_day">{{getDay(post.time)}}</p>
	  	<div class="item_content" ng-class="classVideo(post.video)">
	    	<div class="item_header">
	      		<p class="item_title" ng-bind-html="$root.getContent(post.title)"></p>
			</div>
			<div class="bg-opacity" ng-if="!post.video"></div>
	    	<img src="{{post.img}}" ng-if="!post.video"/>
	    	<youtube-video video-url="post.video" player-width="'100%'" player-height="'300px'" 
	    		ng-if="post.video" player-vars="playerVars" player="listYoutube[$index]">
	    	</youtube-video>
	  	</div>
	</div>      
</div>