<div class="new-feed_list">
	<div class="new-feed_item" ng-repeat="post in posts" ui-sref="event-detail({id: post.id})">
	  	<p class="item_date">{{getDate(post.time)}}</p>
	 	<p class="item_day">{{getDay(post.time)}}</p>
	  	<div class="item_content">
	    	<div class="item_header">
	      		<p class="item_title">{{post.title}}</p>
	    	</div>
	    	<img src="{{post.img}}" ng-if="!post.video"/>
	    	<img src="{{getImageYoutube(post.video)}}" ng-if="post.video"/>
	  	</div>
	</div>      
</div>