.input-field{
  position: relative;
  padding-left: 40px;
  border: none;
  border-bottom: 1px solid $gray;
  margin-bottom: 1px;
  .icon{
    left: 10px;
    @include position-center-vertical;
    i{
      font-size: 20px;
      font-weight: bold;
    }
  }
}