.input-field{
  position: relative;
  padding-left: 40px;
  border: none;
  border-bottom: 1px solid #9B9B9B;
  margin-bottom: 1px;
  margin-top: 20px;
  input{
    font-size: 18px;
    &:-moz-placeholder{
      color: $gray;
    }
    &::-webkit-input-placeholder{
      color: $gray;
    }
  }
  .icon{
    left: 10px;
    @include position-center-vertical;
    i{
      font-size: 20px;
      font-weight: bold;
    }
  }
}