.list-comment{
  border-top: 1px solid $gray;
  padding-top: 10px;
  .list-comment-item{
    display: flex;
    margin-bottom: 5px;
    .user-comment{
      color: $blue;
      font-weight: bold;
      margin-right: 10px;
    }
    .content-comment{
      color: #000;
    }
  }
}