.list-comment{
  border-top: 1px solid $gray;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  .list-comment-item{
    margin-bottom: 5px;
    .user-comment{
      color: $blue;
      font-weight: bold;
      margin-right: 10px;
    }
    .content-comment{
      color: #000;
      font-size: 14px;
      word-break: break-word;
      white-space: normal;
    }
    .time-comment{
      font-size: 12px;
      color: $gray;
    }
  }
}