@media (max-width: 340px ) {
  .sign-page{
    padding-left: 10px;
    padding-right: 10px;
    .login-footer{
      margin-left: 0;
      margin-right: 0;
      .button{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}