<ion-view view-title="Sign Up" ng-controller="SignUpController as vm">
  <ion-content class="padding-horizontal-10">
    <div class="logo">

    </div>
    <div class="">
      <form class="form-default" ng-submit="vm.register()" name="signUpForm" novalidate>
        <div class="list">
          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-user red"></i>
            </span>
            <input type="text" placeholder="Họ và tên" ng-model="vm.user.username" name="username" required>
          </label>
          <span class="error-validate" ng-show="signUpForm.username.$dirty && signUpForm.username.$invalid">
            <span ng-show="signUpForm.username.$error.required">{{USERNAME_REQUIRED}}</span>
          </span>

          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-phone red"></i>
            </span>
            <input type="text" placeholder="Số điện thoại" ng-model="vm.user.phone">
          </label>

          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-key red"></i>
            </span>
            <input type="password" placeholder="Mật khẩu" ng-model="vm.user.password">
          </label>

          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-key red"></i>
            </span>
            <input type="password" placeholder="Nhập lại mật khẩu" ng-model="vm.user.passwordConfirm">
          </label>
        </div>
        <button type="submit" class="button button-block button-assertive">Đăng ký</button>
      </form>
    </div>
  </ion-content>
</ion-view>