<ion-view ng-controller="EventDetailController as vm">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>SỰ KIỆN</ion-nav-title>
  </ion-nav-bar>
  <ion-content class="event-detail">
    <div class="event-banner" ng-class="vm.post.video ? 'video-banner' : ''">
      <p class="event-title" ng-if="!vm.post.video">{{vm.post.title}}</p>
      <youtube-video video-id="vm.getIdVideo(vm.post.video)" player-width="'100%'" player-height="'300px'" ng-if="vm.post.video" player-vars="vm.playerVars"></youtube-video>
      <img src="{{vm.post.img}}" ng-if="!vm.post.video"/>
    </div>
    <div class="event-content">
      <p class="padding">
        {{vm.post.content}}
      </p>
    </div>
  </ion-content>
</ion-view>