<ion-view  view-title="Sign In" ng-controller="SignInController as vm">
  <ion-content class="padding-horizontal-10">
    <div class="logo">

    </div>
    <div class="">
      <form class="form-default" name="signInForm">
        <div class="list">
          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-phone red"></i>
            </span>
            <input type="text" placeholder="Số điện thoại" ng-model="vm.user.phone" name="phone" required>
          </label>
          <span class="error-validate" ng-show="signInForm.phone.$dirty && signInForm.phone.$invalid">
            <span ng-show="signInForm.phone.$error.required">{{PHONE_REQUIRED}}</span>
          </span>

          <label class="item item-input input-field">
            <span class="icon">
              <i class="icon-key red"></i>
            </span>
            <input type="password" placeholder="Mật khẩu" ng-model="vm.user.password" name="password" 
              ng-minlength="6" ng-maxlength="32" required>
          </label>
          <span class="error-validate" ng-show="signInForm.password.$dirty && signInForm.password.$invalid">
            <span ng-show="signInForm.password.$error.minlength">{{PASSWORD_MIN}}</span>
            <span ng-show="signInForm.password.$error.maxlength">{{PASSWORD_MAX}}</span>
          </span>
        </div>
        <div>
          <p class="red text-center">Ghi nhớ đăng nhập</p>
        </div>
        <button class="button button-block button-assertive button-around"
          type="submit" ng-click="vm.login()"
          ng-disabled="signInForm.$invalid">
          Đăng nhập
        </button>
        <div>
          <p class="red text-center">Quên mật khẩu hả</p>
        </div>
        <button class="button button-block button-positive button-around" ng-click="vm.loginFacebook()">
          Đăng nhập qua Facebook
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>